.nuestros_servicios{
  padding: 2rem 0;
}
.nuestros_servicios_content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.nuestros_servicios_item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
}
.nuestros_servicios_image{
  position: relative;
  width: 100%;
  height: 250px;
  margin: 3rem 0 1rem 0;
}
.nuestros_servicios_image img{
  object-fit: contain;
}
.nuestros_servicios_text{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  min-height: 175px;
}
