html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root{
  --main-orange: #f6dc00;
  --main-white: #fff;
  --main-black: #000;
  --main-grey: #4b4a49;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.cta-button{
  font-family: 'Monoid', monospace;
  font-size: 15px;
  text-transform: uppercase;
  background: var(--main-orange);
  color: var(--main-black);
  border: 1px solid var(--main-black);
  border-bottom: 3px solid var(--main-black);
  border-right: 2px solid var(--main-black);
  padding: 5px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: border 0.1s linear;
}
.cta-button:hover{
  /* background: #fff; */
  color: var(--main-black);
  border: 1px solid var(--main-black);
  border-top: 3px solid var(--main-black);
  border-left: 2px solid var(--main-black);
}

.section-title{
  font-family: 'Monoid', monospace;
  font-size: 46px;
  text-align: center;
  margin: 40px 0 30px 0;
}

.h2{
  font-family: 'Monoid', monospace;
  font-size: 36px;
  font-weight: 400;
  line-height:1.1;
  text-align: center;
  margin: 40px 0 30px 0;
}
